:root {
    --primari-text-color: #212121;
    --secondary-text-color: #757575;
    --primari-white-color: #FFFFFF;
    --accent-color: #2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primari-text-color);
    background: var(--primari-white-color);
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* Шапка */

header {
    background-color: var(--primari-white-color);
}

/* Лого */

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    color: var(--accent-color);
}

.logo-header {
    color: #000000;
}

/* Навігація */

.site-nav-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
}

.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--accent-color);
}

.contact-head-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
}

.contact-head-link:hover,
.contact-head-link:focus {
    color: var(--accent-color);
}

/* Головна */

.hero {
    background-color: #2F303A;
    text-align: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primari-white-color);
    }

.hero-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    
    letter-spacing: 0.06em;

    color: var(--primari-white-color);
    background-color: var(--accent-color);

    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}

/* Особливості */

.section-features,
.section-work {
    background-color: var(--primari-white-color);
}

.title-hidden {
    display: none;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.features .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features .text {
    line-height: 1.7;

    color: var(--secondary-text-color);
}

/* Наша команда */

.section-team {
    background-color: #F5F4FA;
}

.team-members {
    background-color: var(--primari-white-color);
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
}

.team-text {
    font-size: 16px;
    line-height: 1.19;

    text-align: center;

    color: var(--secondary-text-color);
}

/* Підвал */

footer {
    background-color: #2F303A;
}

.logo-footer {
    color: var(--primari-white-color);
}

.address-text {
    font-style:normal;
    line-height: 1.7;

    color: var(--primari-white-color);
}

.address-list-link {
    font-style: normal;
    line-height: 1.7;

    color: rgba(255, 255, 255, 0.6);
}

.address-list-link:hover,
.address-list-link:focus {
    color: var(--accent-color);
}

/* Проєкти Портфоліо */

.section-project {
    background-color: var(--primari-white-color);
}

.main-title {
    display: none;
}

/* Кнопки */

.portfolio-button .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    text-align: center;

    background-color: #F5F4FA;

    cursor: pointer;
}

.portfolio-button .button:hover,
.portfolio-button .button:focus {
    color: var(--primari-white-color);
    background-color: var(--accent-color);
}

/* Проєкти */

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
}

.project-text {
    font-size: 16px;
    line-height: 1.87;

    color: var(--secondary-text-color);
}