body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #212121;
    background: #F5F5F5;;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* Шапка */

header {
    background-color: #FFFFFF;
}

/* Лого */

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    
    letter-spacing: 0.03em;

    color: #2196F3;
}

.logo-header {
    color: #000000;
}

/* Навігація */

.site-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav-link:hover,
.site-nav-link:focus {
    color: #2196F3;
}

.contact-head-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;
}

.contact-head-link:hover,
.contact-head-link:focus {
    color: #2196F3;
}

/* Головна */

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    background-color: #2196F3;

    cursor: pointer;
}

/* Особливості */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.features .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: #757575;
}

/* Наша команда */

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    letter-spacing: 0.03em;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

/* Підвал */

footer {
    background-color: #2F303A;
}

.logo-footer {
    color: #FFFFFF;
}

.address-text {
    font-style:normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.address-list-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

/* Проєкти Портфоліо */

/* Кнопки */

.portfolio-button .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    text-align: center;
    letter-spacing: 0.03em;

    background-color: #F5F4FA;

    cursor: pointer;
}

.portfolio-button .button:hover,
.portfolio-button .button:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

/* Проєкти */

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
}

.project-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.03em;

    color: #757575;
}